/* styles.css */

body {
    font-family: Helvetica, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

li {
    margin-bottom: 5px;
    text-align: left;
}

li:last-child {
    margin-bottom: 0;
}
